<!doctype html>
<html id="ng-app" ng-app="rhino">
<head>
  <meta charset="utf-8">
  <title>范达城</title>

  <link rel="stylesheet/less" href="/static/lib/bootstrap/bootstrap.less" />
  {% for directory in less_files %}
    {% for file in directory.files %}
  <link rel="stylesheet/less" href="/static/css/{{directory.dir}}{{file}}"/>
    {% endfor %}
  {% endfor %}

  <script src="/static/lib/less/less.js"></script>
  <script src="/static/lib/angular/angular.js"></script>
  <script src="/static/lib/angular/ui-bootstrap.js"></script>
  <script src="/api/angular_client.js"></script>

</head>
<body>
  <div ng-include="'/static/partials/top_user.html'"></div>
  <div ng-include="'/static/partials/top_banner.html'"></div>

  <div ng-view></div>

  <div ng-include="'/static/partials/foot.html'"></div>

  {% for directory in js_files %}
    {% for file in directory.files %}
  <script src="/static/js{{directory.dir}}{{file}}"></script>
    {% endfor %}
  {% endfor %}

  <script>
    less.watch();
  </script>

</body>
</html>

